

.recipe-card{
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.recipe{
    margin: 1rem;
    margin-top: 0.25rem;   
}

.profile-avatar{
    margin: auto;
}